# Example toml configuration to patch for Chef Automate
#  for running the data-feed service at a very aggressive 1-minute interval
# Save as datafeed.toml file on Chef Automate server and load with:
#  chef-automate config patch /path/to/datafeed.toml

[data_feed_service.v1.sys]
  [data_feed_service.v1.sys.service]
        feed_interval = "1m"
        node_batch_size = 1
        updated_nodes_only = true
        disable_cidr_filter = true
        cidr_filter = "0.0.0.0/0"
        accepted_status_codes = [200, 201, 202, 203, 204]
      [data_feed_service.v1.sys.log]
        level = "info"
