DB_HOST={{cfg.db.DB_HOST}}
DB_NAME={{cfg.db.DB_NAME}}
DB_DOMAIN={{cfg.db.DB_DOMAIN}}
DB_USER={{cfg.db.DB_USER}}
DB_PASSWORD={{cfg.db.DB_PASSWORD}}
DB_INSTANCE={{cfg.db.DB_INSTANCE}}
DB_INIT={{cfg.db.DB_INIT}}
API_BIND_IP={{cfg.hapi.API_BIND_IP}}
API_BIND_PORT={{cfg.hapi.API_BIND_PORT}}
API_EXTERNAL_HOST={{cfg.hapi.API_EXTERNAL_HOST}}
API_EXTERNAL_PORT={{cfg.hapi.API_EXTERNAL_PORT}}
